/*---------- global_custom_css_ start ----------*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary_heading_clr: #e45656;
  --secondary_head_clr: #2c2c2d;
  --solid_white_clr: #ffffff;
  --white_txt_bg_clr: #efefef;
  --para_clr: #2d2d2d;
  --border_clr: #000000;
  --section_spacer: 4rem 1rem;
  --big_shoulders_inline_txt_font_family: "Big Shoulders Inline Text",
    sans-serif;
  --roboto_slab_font_family: "Roboto Slab", serif;
  --big_shoulders_txt: "Big Shoulders Text", sans-serif;
  --open_sans_font_family: "Open Sans", sans-serif;
}

body {
  font-family: var(--roboto_slab_font_family);
  background-color: var(--solid_white_clr);
}

html {
  scroll-behavior: smooth;
}

.w_auto {
  width: auto;
}

img,
picture {
  width: 100%;
}

span,
a {
  display: inline-block;
  text-decoration: none;
}

.container_1200 {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.flex_row {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.grid_row {
  display: grid;
}

section {
  margin-bottom: 6rem;
}

main {
  margin-top: 8rem;
}

.global_btn {
  font-family: var(--big_shoulders_txt);
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.red_btn {
  background-color: var(--primary_heading_clr);
  color: var(--solid_white_clr);
  border: none;
  padding: 13px 38px;
  width: max-content;
}

.red_btn:hover {
  background-color: var(--solid_white_clr);
  color: var(--primary_heading_clr);
  border: 1px solid var(--primary_heading_clr);
}

.white_btn {
  color: var(--secondary_head_clr);
  width: max-content;
  padding: 13px 38px;
  border: 1px solid var(--secondary_head_clr);
}

.white_btn:hover {
  color: var(--primary_heading_clr);
  border: 1px solid var(--primary_heading_clr);
}

/*---- global_heading_txt_overline start ----*/
.global_heading_txt_overline {
  position: relative;
}

.global_heading_txt_overline .bg_lines {
  gap: 0.56rem;
}

.global_heading_txt_overline .line {
  background-color: var(--border_clr);
  height: 1px;
  flex-grow: 1;
}

.global_heading_txt_overline .line_heading {
  border: 1px solid var(--border_clr);
  box-shadow: 0 4px 0 0;
  width: max-content;
  background-color: var(--solid_white_clr);
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.global_heading_txt_overline .line_heading > span {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--big_shoulders_txt);
  color: var(--primary_heading_clr);
  padding: 15px 50px;
}
/*---- global_heading_txt_overline end ----*/

/* global_mid_line_red */
.global_mid_line_red {
  content: "";
  max-width: 138px;
  width: 100%;
  height: 2px;
  background: var(--primary_heading_clr);
  transform: rotate(90deg);
}

/*---- global_heading_txt_overline end ----*/

/*------------- header_css start -------------*/
header {
  background-color: var(--solid_white_clr);
  box-shadow: 0 4px 0px 0px rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--white_txt_bg_clr);
}

header .header_container {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
header .header_star_wire {
  position: absolute;
  transform: translate(-50px, -50px);
  top: 42px;
  left: -54px;
}

header .ryt_content_wrapper {
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header .nav_bar_wrapper ul {
  align-items: center;
  gap: 1.25rem;
}

header .nav_bar_wrapper ul li {
  list-style: none;
  /* padding: .5rem; */
}

header .nav_bar_wrapper ul li a {
  color: var(--secondary_head_clr);
  font-weight: 500;
  font-size: 1.25rem;
  font-family: var(--open_sans_font_family);
}

header .nav_bar_wrapper ul li a:hover {
  color: var(--primary_heading_clr);
}

header .ryt_content_wrapper .header_btn {
  padding: 13px 38px;
}

.mobile_header {
  display: none;
}

.menu_off_canvas {
  display: none;
}
/*--------- header_css end ---------*/

/*----- global_stove_protector -----*/
.global_stove_prot_bnfit .inner_wrapper {
  width: 100%;
  padding: 2rem;
  border: 1px solid var(--border_clr);
  box-shadow: 0 4px 0 0;
  justify-content: space-between;
  align-items: center;
}
.global_stove_prot_bnfit .lft_col_wrapper {
  gap: 1.5rem;
  max-width: 748px;
  width: 100%;
}
.global_stove_prot_bnfit .lft_col_wrapper h1 {
  font-family: var(--big_shoulders_inline_txt_font_family);
  text-transform: uppercase;
  position: relative;
  color: var(--secondary_head_clr);
}
.global_stove_prot_bnfit .lft_col_wrapper h1::after {
  content: "";
  width: 165px;
  height: 2px;
  position: absolute;
  background-color: var(--primary_heading_clr);
  transform: translate(-50px, 50px);
  left: 50px;
  top: 2px;
}
.global_stove_prot_bnfit .lft_col_wrapper p {
  color: var(--para_clr);
}

.global_stove_prot_bnfit .ryt_col button {
  padding: 13px 38px;
}

/*------- global_latest_posts start-------*/
.global_latest_posts .global_latst_post_container {
  gap: 4rem;
}
.global_latest_posts .global_inner_posts_col {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 3.5rem;
  position: relative;
}
.global_latest_posts .global_inner_posts_col::after {
  content: "";
  max-width: 528px;
  width: 100%;
  height: 2px;
  background-color: var(--border_clr);
  transform: rotate(90deg);
  position: absolute;
  bottom: 50%;
  left: 20rem;
}
.global_latest_posts .global_inner_posts_col .post_wrap .ryt_col_content {
  justify-content: center;
  gap: 0.625rem;
}
.global_latest_posts .global_inner_posts_col .post_wrap {
  gap: 1rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--border_clr);
}
.global_latest_posts .global_inner_posts_col .post_wrap:nth-of-type(3),
.global_latest_posts .global_inner_posts_col .post_wrap:nth-of-type(4) {
  border-bottom: none;
  padding-bottom: 0;
}
.global_latest_posts
  .global_inner_posts_col
  .post_wrap:hover
  .ryt_col_content
  > a {
  color: var(--primary_heading_clr);
}
.global_inner_posts_col .post_wrap .ryt_col_content > a {
  font-family: var(--big_shoulders_txt);
  font-size: 1.75rem;
  color: var(--secondary_head_clr);
  font-weight: 700;
}
.global_inner_posts_col .post_wrap .ryt_col_content .content_wrap {
  gap: 1rem;
}
.global_inner_posts_col .post_wrap .ryt_col_content .content_wrap > a {
  border-inline: 2px solid var(--primary_heading_clr);
  padding-inline: 0.5rem;
  color: var(--primary_heading_clr);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--big_shoulders_txt);
}
.global_inner_posts_col .post_wrap .ryt_col_content .content_wrap > span {
  color: #222222;
  font-family: var(--open_sans_font_family);
  font-weight: 400;
  font-size: 0.875rem;
}
.global_latest_posts .global_latst_post_container > a {
  align-self: center;
}
/*------- global_latest_posts end -------*/

/*------ global_product_review start ------*/
.global_product_review .global_prod_review_container {
  gap: 4rem;
}
.global_product_review .product_review_card_wrapper {
  justify-content: space-between;
  gap: 0.75rem;
}
.global_product_review .product_review_card_wrapper .card_1 {
  max-width: 280px;
  width: 100%;
  border-right: 2px solid var(--border_clr);
  padding-right: 0.875rem;
}
.global_product_review .product_review_card_wrapper .card_1:nth-of-type(4) {
  padding-right: 0;
  border-right: none;
}
.global_product_review .content_col {
  margin-top: -1.8rem;
  gap: 1.25rem;
}
.global_product_review .content_col .heading_txt {
  align-items: center;
}
.global_product_review .card_1:hover .heading_txt > a {
  color: var(--primary_heading_clr);
}
.global_product_review .heading_txt > a {
  color: var(--secondary_head_clr);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--big_shoulders_txt);
  padding: 0.5rem 0.625rem;
  background-color: var(--solid_white_clr);
}

.global_product_review .stars_nd_shares {
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}
.global_product_review .stars_nd_shares .lft_stars {
  border-inline: 2px solid var(--primary_heading_clr);
  padding-inline: 0.5rem;
}
.global_product_review .stars_nd_shares .ryt_shares {
  gap: 0.313rem;
}
.global_product_review .stars_nd_shares .ryt_shares img {
  width: 18px;
  height: 18px;
}
.global_product_review .stars_nd_shares .ryt_shares span {
  color: var(--para_clr);
  font-family: var(--open_sans_font_family);
  font-size: 0.875rem;
  font-weight: 400;
}
.global_product_review .content_col > p {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--para_clr);
}
.global_product_review .global_prod_review_container > a {
  align-self: center;
}
/*------ global_product_review end ------*/

/*--- global_recommended_product start ---*/
.global_recomm_prodct_review .recomm_prodct_container {
  gap: 4rem;
}
.global_recomm_prodct_review .inner_col_container {
  gap: 2.8rem;
}

.global_recomm_prodct_review .global_stars_rating img {
  width: 24px;
  height: 24px;
}
.global_recomm_prodct_review .inner_row {
  max-width: 1042px;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.global_recomm_prodct_review .inner_row .lft_col {
  align-items: center;
  gap: 1rem;
}
.global_recomm_prodct_review .inner_row .lft_col > .col_1 {
  align-items: center;
  gap: 0.5rem;
}
.global_recomm_prodct_review .inner_row .lft_col .col_1 .brand_name {
  gap: 0.625rem;
}
.global_recomm_prodct_review .inner_row .lft_col .col_1 .brand_name span:nth-of-type(1) {
  color: var(--secondary_head_clr);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--big_shoulders_txt);
}
.global_recomm_prodct_review .inner_row .lft_col .col_1 .brand_name span:nth-of-type(2) {
  color: var(--para_clr);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--big_shoulders_txt);
}
.global_recomm_prodct_review .inner_row .lft_col .col_2 {
  align-items: center;
  gap: 0.5rem;
}
.global_recomm_prodct_review .inner_row .col_2 span:nth-of-type(1)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--border_clr);
  position: absolute;
  left: 0;
  top: 50%;
}
.global_recomm_prodct_review .inner_row .col_2 span:nth-of-type(1) {
  color: #e4565680;
  position: relative;
  font-family: var(--big_shoulders_txt);
  font-weight: 700;
  font-size: 1.25rem;
}
.global_recomm_prodct_review .inner_row .col_2 span:nth-of-type(2) {
  font-family: var(--big_shoulders_txt);
  font-weight: 700;
  font-size: 1.5rem;
}
.global_recomm_prodct_review .inner_row .line {
  width: 2px;
  height: 40px;
  background-color: var(--primary_heading_clr);
}
.global_recomm_prodct_review .inner_row .mid_col {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.global_recomm_prodct_review .inner_row .mid_col .col_3 {
  align-items: center;
  gap: 1rem;
}
.global_recomm_prodct_review .inner_row .mid_col .col_4{
  gap: .5rem;
}
.global_recomm_prodct_review .inner_row .mid_col .conut_purchase ,
.global_recomm_prodct_review .inner_row .mid_col .col_4 >span{
  font-size: 0.75rem;
  font-family: var(--open_sans_font_family);
  font-weight: 400;
  color: var(--secondary_head_clr);
}
.global_recomm_prodct_review .inner_row .ryt_btns {
  gap: 1.8rem;
}
.global_recomm_prodct_review .inner_row_1{
  gap: 1.25rem;
}
.global_recomm_prodct_review .inner_row_1 span{
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--big_shoulders_txt);
  width: fit-content;
  padding: .625rem;
  color: var(--secondary_head_clr);
  border: 1px solid var(--border_clr);
  box-shadow: 0 4px 0 0;
}
.global_recomm_prodct_review .inner_row_1 p{
  color: var(--para_clr);
}
.global_recomm_prodct_review .bottom_content {
  gap: 1.5rem;
}
.global_recomm_prodct_review .r_content {
  max-width: 790px;
  width: 100%;
  gap: 1.25rem;
}

/*------ accordion css start -----*/
.global_recomm_prodct_review .accordion_card .read_pros,
.global_recomm_prodct_review .accordion_card .read_cons {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.global_recomm_prodct_review .accordion_card hr {
  height: 2px;
  background-color: var(--sub_heading_clr);
  margin-top: 0.5rem;
}

.global_recomm_prodct_review .accordion_card .read_pros > li,
.global_recomm_prodct_review .accordion_card .read_cons > li {
  color: var(--primary_heading_clr);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--big_shoulders_txt);
}

.global_recomm_prodct_review .accordion_card .read_pros li:nth-child(2),
.global_recomm_prodct_review .accordion_card .read_cons li:nth-child(2) {
  list-style: none;
}

.global_recomm_prodct_review .accordion_card .faq_content li::before {
  content: " ";
  position: absolute;
  transform: rotate(90deg);
  left: -15px;
  width: 2px;
  height: 15px;
  background-color: var(--border_clr);
}
.global_recomm_prodct_review .accordion_card .faq_content li {
  margin-left: 1.5rem;
  color: var(--para_clr);
  font-size: .875rem;
  font-weight: 400;
  font-family: var(--open_sans_font_family);
  padding-block: 0.3rem;
  list-style: none;
  position: relative;
}

.global_recomm_prodct_review .faq_sec {
  background: none;
  justify-content: space-between;
  border-bottom: 1px solid var(--border_clr);
  padding-bottom: 2rem;
}

.global_recomm_prodct_review .faq_sec .accordion_card {
  width: 47%;
}
.global_recomm_prodct_review .accordion_card.active .rotate_180 {
  transform: rotate(180deg);
}
.global_recomm_prodct_review .inner_row_2 > .line{
  width: 1px;
  height: 100%;
  background-color: var(--border_clr);
}

/*--- global_recommended_product end ---*/

/*---- global_subscribe_update start ----*/
.global_subscribe_update .lft_col_wrapper h2{
  font-family: var(--big_shoulders_inline_txt_font_family);
  color: var(--secondary_head_clr);
  position: relative;
  text-transform: uppercase;
}
.global_subscribe_update .lft_col_wrapper h2::after {
  content: "";
  width: 165px;
  height: 2px;
  position: absolute;
  background-color: var(--primary_heading_clr);
  transform: translate(-50px, 50px);
  left: 50px;
  top: 2px;
}
.global_subscribe_update .global_mid_line_red {
  content: "";
  max-width: 100px;
  width: 18%;
  height: 2px;
  background: var(--primary_heading_clr);
  transform: rotate(90deg);
}

.global_subscribe_update .lft_col_wrapper {
    gap: 1.5rem;
    max-width: 570px;
    width: 100%;
}
.global_subscribe_update .ryt_col{
  width: 80%;
}
.global_subscribe_update form>input {
  background-color: transparent;
  padding: 0.5rem 1rem;
  outline: none;
  max-width: 300px;
  width: 100%;
  border: 1px solid var(--primary_heading_clr);
  border-right: none;
  color: var(--para_clr);
}
.global_subscribe_update form>input::placeholder {
  color: var(--primary_heading_clr);
}
.global_stove_prot_bnfit .ryt_col button{
  padding: .875rem 1.25rem;
}



/*-------- footer_css start --------*/
footer {
  background-color: var(--primary_heading_clr);
}
footer > .footer_container {
  gap: 1.25rem;
}
footer > .footer_container .col_1 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer > .footer_container .col_1 .social_link img {
  width: 24px;
  height: 24px;
}
footer > .footer_container .col_1 .social_link {
  max-width: 250px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer > .footer_container .col_1 .social_link span {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--solid_white_clr);
  font-family: var(--open_sans_font_family);
  padding-top: 0.625rem;
}
footer > .footer_container .col_2 {
  border-top: 1px solid var(--solid_white_clr);
  padding-top: 1.25rem;
}
footer > .footer_container .col_2 .copyright_container {
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}
footer > .footer_container .col_2 .copyright_container > p {
  color: var(--solid_white_clr);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--open_sans_font_family);
}

/*----------- Mobile_screen_css start ---------*/
@media screen and (max-width: 480px) {
  /* global_css */
  section {
    margin-bottom: 3rem;
  }

  main {
    margin-top: 6rem;
  }

  /* global_css end */

  /* component_css start */
  header .header_container {
    display: none;
  }

  .mobile_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
  }

  /* menu_off_canvas_css */
  .menu_off_canvas {
    display: block;
    max-width: 240px;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--solid_white_clr);
    padding: 2rem 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 1002;
  }

  .menu_off_canvas.open {
    transform: translateX(0);
  }

  .menu_off_canvas .menu_inner_wrapper {
    gap: 2rem;
  }

  .menu_off_canvas .heading_row {
    justify-content: space-between;
    gap: 1rem;
  }

  .menu_off_canvas .lists_stove_protect ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .menu_off_canvas .lists_stove_protect ul li {
    list-style: none;
    color: #000000;
    font-family: var(--open_sans_font_family);
  }

  .menu_off_canvas .lists_stove_protect ul li a {
    color: var(--secondary_head_clr);
    font-size: 1.125rem;
  }

  .menu_off_canvas .lists_stove_protect ul li a:hover {
    color: var(--primary_heading_clr);
  }

  .menu_off_canvas .lists_stove_protect ul li:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .menu_off_canvas .lists_stove_protect ul li:last-child img {
    width: 20px;
    height: 20px;
  }

  .overlay {
    position: fixed;
    min-height: 100vh;
    background-color: rgba(48, 48, 48, 0.192);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    display: none;
  }

  .overlay.open_overlay {
    display: block;
  }

  /* mobile_footer start*/
  footer > .footer_container .col_1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  footer > .footer_container {
    gap: 4rem;
  }
}
